{{! write anything below this to get it featured on your front page }}
<h2>Rodrigo Dumont</h2>
<p>
  Hi there.
  I'm a developer from <a href="http://en.wikipedia.org/wiki/Rio_de_Janeiro">Rio de Janeiro</a>.
  I love <a href="https://github.com/rdumont">coding</a>
  and sometimes <a href="https://twitter.com/rlsdumont">tweet</a> about stuff.
  I also enjoy good <a href="https://last.fm/user/dddxbr">music</a>
  and some quality <a href="https://untappd.com/user/rdumont">beer</a> on my spare time.
  This is my blog.
</p>
<p class="text-center">
  Find me on:
  <a href="https://github.com/rdumont" target="_blank"><i class="fa fa-github fa-lg"></i></a>
  <a href="https://twitter.com/rlsdumont" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
  <a href="https://linkedin.com/in/rlsdumont" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
</p>
<hr>
